

.site-footer {
  display: none;
}

a {
  color: #132240;
  text-decoration: none;
}

.nav-list .nav-list-item .nav-list-link:hover, .nav-list .nav-list-item .nav-list-link.active {
  background-image: linear-gradient(-90deg, #00fffe 0%, #00fffe 80%, #00fffe 100%);
}

