


:root {

  --md-primary-fg-color:             #132240;
  --md-primary-fg-color--light:        red;
  --md-primary-fg-color--dark:        red;
  --md-primary-bg-color:              #00fffeff;
  --md-primary-bg-color--light:       #00fffeff;



  --md-accent-fg-color:                #00fffe;
  --md-accent-fg-color--transparent:   #132240ff;
  --md-accent-bg-color:                #132240ff;
  --md-accent-bg-color--light:       #132240ff;

  --md-footer-fg-color:                #00fffe;
  --md-footer-fg-color--light:        #00fffe;
  --md-footer-fg-color--lighter:       #132240ff;
  --md-footer-bg-color:                 #132240ff;
  --md-footer-bg-color--dark:          #132240ff;

}

 

 

code {
  background-color: transparent;
  border: none;
}

