

/*
:root {
  --md-primary-fg-color:        #EE0F0F;
  --md-primary-fg-color--light: #ECB7B7;
  --md-primary-fg-color--dark:  #90030C;
}

 */


a {
  color: #132240;
  text-decoration: none;
}

.nav-list .nav-list-item .nav-list-link:hover, .nav-list .nav-list-item .nav-list-link.active {
  background-image: linear-gradient(-90deg, #00fffe 0%, #00fffe 80%, #00fffe 100%);
}

code {
  background-color: transparent;
  border: none;
}

.md-header__button.md-logo :is(img,svg) {
  height: 2rem !important;
}